/* Large screens */
@media only screen and (min-width: 768px) {
  #intro {
    gap: 2.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 1220px;
  }
  #ProfileIntro {
    padding-top: 0.3rem;
  }
}

/* Small screens */
@media only screen and (max-width: 768px) {
  #intro {
    padding-top: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }
  #textIntro div {
    text-align: center;
    margin-top: 0rem;
  }
  #ProfileIntro {
    margin: auto;
  }
}

#ProfilePic img {
  height: 12rem;
  width: auto;
  border-radius: 2rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 9px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 9px 0 rgba(0, 0, 0, 0.19);
}

.greeting-1,.greeting-3, .greeting-4 {
  color: #CDCDCD
}
.greeting-2 {
  color: var(--fg-primary);
  font-size: 2rem;
  font-weight: bold;
}
.greeting-1 {
  font-size: 1.2rem;
  font-weight: 400;
}
.greeting-3 {
  font-size: 1.4rem;
  font-weight: 500;
}
.greeting-4 {
  font-weight: 400;
}
#ConnectMe {
  display: flex;
  gap: 30px;
  margin-top: 2rem;
}

#ConnectMe a {
  display: flex;
  justify-content: center;
  z-index: 0;
  height: 2.9rem;
  width: 2.9rem;
  border: 2px solid var(--bg-secondary);
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 9px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 9px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

#ConnectMe a:hover {
  -webkit-transform: translateY(-0.2em);
          transform: translateY(-0.2em);
}

#ConnectMe a svg {
  color: var(--fg-primary);
  padding: 12px;
  transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

#ConnectMe a svg:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#intro {
  display: flex;
  width: 82%;
  margin: auto;
}

#ProfileIntro {
  display: flex;
  flex-direction: column;
  width: 20rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#textIntro {
  width: 40rem;
}

#textIntro div {
  margin-top: 0.6rem;
}
