@media only screen and (max-width: 768px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    border-top: var(--bg-secondary) solid 2px;
    padding-top: 0.5rem;
  }
  .nav-links svg {
  transform: scale(1);
  }

  footer {
    margin-bottom: 5rem;
  }

}

@media only screen and (min-width: 768px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    border-right: var(--bg-secondary) solid 2px;
  }
  .navbar .navbox {
    flex-direction: column;
  }
  footer {
      margin-left: 5rem;
  }
}

.navbar {
  z-index: 100;
  position: fixed;
  background-color: #313138;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* overflow: scroll; */
}
.navbox {
  display: flex;
  gap: 2.5rem;
}

.navbar .navbox div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .navbox div span {
  color:rgb(177, 177, 177);
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 2px;
}
.navbar .navbox .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background-color: rgba(79, 78, 89, 0.5);
  height: 2.9rem;
  width: 2.9rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 9px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.nav-links svg {
  transform: scale(1.1);
  fill: #8C86D5;
}
.nav-links:hover {
  transform: translateY(-0.25em);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  margin-top: 2rem;
}

footer span {
  padding: 0.2rem;
}

footer span a {
  padding: 1rem;
}

footer span a svg {
  color: rgba(235, 109, 109, 0.7);
}

footer span:nth-child(2) {
  color: grey;
  font-size: 600;
}

footer span:nth-child(3) {
  color: var(--text-secondary);
  font-size: 600;
}
