.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;

}

input[type=text], select {
  width: 75%;
  padding: 1rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(79, 78, 89, 1);
  border-radius: 8px;
  box-sizing: border-box;
  background: rgba(79, 78, 89, 0.5);
  color:#CDCDCD;
  font-size: 1rem;
}

.showcase h1 {
  color: #CDCDCD;
  font-size: 1.5rem;

}
.underline {
  margin: auto;
  background-color: var(--fg-secondary);
  width: 65%;
  height: 0.25rem;
  border-radius: 10px;
}

.container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
  background: none;
  border-radius: 1.5rem;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  padding: 1.5rem 0rem;
  max-width: 1220px;
}

.overview {
  background: rgba(79, 78, 89, 0.5);
  padding: 1.5rem;
  /*
  width: 15rem;
  */
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  transition: transform .2s;
}
.overview:active {
  color: inherit;
}
.overview:hover {
  transform: translateY(-0.35em);
}

.overview .title {
  font-size: 1.14rem;
  font-weight: 600;
  color: var(--fg-primary);
}

.overview .description {
  color: rgb(177, 177, 177)
}

.overview .date {
  color: #838691;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  padding-top: 1rem ;
}

.overview .date span svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transform: scale(1.1);
  justify-content: center;
  fill: #838691;
}

.overview .categories {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

}
.tag {
    background: rgba(177,177,177,0.2);
    gap: 0.5rem;
    padding: 0.1rem 0.5rem;
    color: rgb(177, 177, 177);
    border-radius: 5px;
    font-size: 0.9rem;
}

.tags {
    text-align: center;
}

.overview .image {
  height: 10rem;
  width: 100%;
  background-color: var(--bg-primary);
  border-radius: 0.6rem;
  margin-bottom: 0.7rem;

}
.overview .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.6rem;
  opacity: 80%;
}

.overview .links {
    display: flex;
    gap: 1rem;

}

.showcase .more-button {
  background: var(--fg-primary);
  color: var(--bg-primary);
  padding: 0.5rem 0.8rem;
  align-self: flex-end;
  margin-right: 7.4%;
  font-weight: 600;
  border-radius: 10px;
}

.showcase .more-button:hover {
  background: var(--fg-secondary);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); */

}
