@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@400;500;600&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  font-size: 16px;
/*  font-family: 'Poppins'; */
  --text-primary: #d1d1d1;
  --text-secondary: #b6b6b6;
  --imp-text: #CDCDCD;
  --fg-primary: #8C86D5;
  --fg-secondary: #EB6D6D;
  --bg-primary: #313138;
  --bg-secondary: rgba(79, 78, 89, 0.5);
  --transition-speed: 300ms;
  --tag-bg: rgba(177,177,177,0.2);

}

.light-theme {
  --text-primary: #313138;
  --text-secondary: #585858;
  --imp-text: #383838;
  --fg-primary: #8379f4;
  --fg-secondary: #EB6D6D;
  --bg-primary: rgb(237, 237, 237);
  --bg-secondary: rgba(255, 255, 255, 1);
  --transition-speed: 300ms;
  --tag-bg: rgba(177,177,177,0.4);

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins';
  color: black;
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  display: block;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}


::-webkit-scrollbar-thumb {
  background: var(--fg-primary);
}

main {
  margin-left: 5rem;
  padding: 0rem;
}

main p {
    color: var(--text-primary);
}


/* Small screens */
@media only screen and (max-width: 768px) {
  main {
      margin-left: 0rem;
  }
}

/*
.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
} */

.reveal-animation {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal-animation.active{
  transform: translateY(0);
  opacity: 1;
}
