@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@400;500;600&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  font-size: 16px;
/*  font-family: 'Poppins'; */
  --text-primary: #d1d1d1;
  --text-secondary: #b6b6b6;
  --fg-primary: #8C86D5;
  --fg-secondary: #EB6D6D;
  --bg-primary: #313138;
  --bg-secondary: rgba(79, 78, 89, 0.5);
  --transition-speed: 300ms;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins';
  color: black;
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  display: block;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}


::-webkit-scrollbar-thumb {
  background: var(--fg-primary);
}

main {
  margin-left: 5rem;
  padding: 0rem;
}

main p {
    color: var(--text-primary);
}

.navbar {
  z-index: 100;
  position: fixed;
  background-color: #313138;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* overflow: scroll; */
}
.navbox {
  display: flex;
  gap: 2.5rem;
}

.navbar .navbox div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .navbox div span {
  color:rgb(177, 177, 177);
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 2px;
}
.navbar .navbox .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background-color: rgba(79, 78, 89, 0.5);
  height: 2.9rem;
  width: 2.9rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 9px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.nav-links svg {
  transform: scale(1.1);
  fill: #8C86D5;
}
.nav-links:hover {
  transform: translateY(-0.25em);
}


/* Small screens */
@media only screen and (max-width: 768px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    border-top: var(--bg-secondary) solid 2px;
    padding-top: 0.5rem;
  }
  .nav-links svg {
  transform: scale(1);
  }

  #intro {
    padding-top: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }
  #textIntro div {
    text-align: center;
    margin-top: 0rem;
  }
  #ProfileIntro {
    margin: auto;
  }
  main {
      margin-left: 0rem;
  }
  article {
      margin: 4rem 2rem;
  }
  .table_of_content {
      margin: 1rem 2rem;
  }
  .quote {
      margin: 1rem 2rem;
  }
  footer {
    margin-bottom: 5rem;
  }

}

/* Large screens */
@media only screen and (min-width: 768px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    border-right: var(--bg-secondary) solid 2px;
  }
  .navbar .navbox {
    flex-direction: column;
  }
  #intro {
    gap: 2.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 1220px;
  }
  #ProfileIntro {
    padding-top: 0.3rem;
  }
  article {
      margin: 5rem 8rem;
  }
  .table_of_content {
      margin: 4rem 8rem 0rem 8rem;
  }
  .quote {
      margin: 1rem 8rem;
  }
  footer {
      margin-left: 5rem;
  }
}
/*
.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
} */

#ProfilePic img {
  height: 12rem;
  width: auto;
  border-radius: 2rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 9px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 9px 0 rgba(0, 0, 0, 0.19);
}

.greeting-1,.greeting-3, .greeting-4 {
  color: #CDCDCD
}
.greeting-2 {
  color: var(--fg-primary);
  font-size: 2rem;
  font-weight: bold;
}
.greeting-1 {
  font-size: 1.2rem;
  font-weight: 400;
}
.greeting-3 {
  font-size: 1.4rem;
  font-weight: 500;
}
.greeting-4 {
  font-weight: 400;
}
#ConnectMe {
  display: flex;
  gap: 30px;
  margin-top: 2rem;
}

#ConnectMe a {
  display: flex;
  justify-content: center;
  z-index: 0;
  height: 2.9rem;
  width: 2.9rem;
  border: 2px solid var(--bg-secondary);
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 9px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 9px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

#ConnectMe a:hover {
  -webkit-transform: translateY(-0.2em);
          transform: translateY(-0.2em);
}

#ConnectMe a svg {
  color: var(--fg-primary);
  padding: 12px;
  transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

#ConnectMe a svg:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#intro {
  display: flex;
  width: 82%;
  margin: auto;
}

#ProfileIntro {
  display: flex;
  flex-direction: column;
  width: 20rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#textIntro {
  width: 40rem;
}

#textIntro div {
  margin-top: 0.6rem;
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;

}

input[type=text], select {
  width: 75%;
  padding: 1rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(79, 78, 89, 1);
  border-radius: 8px;
  box-sizing: border-box;
  background: rgba(79, 78, 89, 0.5);
  color:#CDCDCD;
  font-size: 1rem;
}

.showcase h1 {
  color: #CDCDCD;
  font-size: 1.5rem;

}
.underline {
  margin: auto;
  background-color: var(--fg-secondary);
  width: 65%;
  height: 0.25rem;
  border-radius: 10px;
}

.container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
  background: none;
  border-radius: 1.5rem;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  padding: 1.5rem 0rem;
  max-width: 1220px;
}

.overview {
  background: rgba(79, 78, 89, 0.5);
  padding: 1.5rem;
  /*
  width: 15rem;
  */
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  transition: transform .2s;
}
.overview:hover {
  transform: translateY(-0.35em);
}

.overview .title {
  font-size: 1.14rem;
  font-weight: 600;
  color: var(--fg-primary);
}

.overview .description {
  color: rgb(177, 177, 177)
}

.overview .date {
  color: #838691;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  padding-top: 1rem ;
}

.overview .date span svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transform: scale(1.1);
  justify-content: center;
  fill: #838691;
}

.overview .categories {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

}
.tag {
    background: rgba(177,177,177,0.2);
    gap: 0.5rem;
    padding: 0.1rem 0.5rem;
    color: rgb(177, 177, 177);
    border-radius: 5px;
    font-size: 0.9rem;
}

.tags {
    text-align: center;
}

.overview .image {
  height: 10rem;
  width: 100%;
  background-color: var(--bg-primary);
  border-radius: 0.6rem;
  margin-bottom: 0.7rem;

}
.overview .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.6rem;
  opacity: 80%;
}

.overview .links {
    display: flex;
    gap: 1rem;

}

.showcase .more-button {
  background: var(--fg-primary);
  color: var(--bg-primary);
  padding: 0.5rem 0.8rem;
  align-self: flex-end;
  margin-right: 7.4%;
  font-weight: 600;
  border-radius: 10px;
}

.showcase .more-button:hover {
  background: var(--fg-secondary);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); */

}

article a:link {
  color: var(--text-primary);
  background-color: transparent;
  text-decoration: none;
}

article a:visited {
  color: var(--text-primary);
  background-color: transparent;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

article span a {
  background:
    linear-gradient(
      to right,
      var(--bg-primary),
      var(--bg-primary)
    ),
    linear-gradient(
      to right,
      var(--fg-primary),
      var(--fg-secondary)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

article a:hover {
  background-size: 0 3px, 100% 3px;
}

/*
a:active {
  color: #EB6D6D;
  background-color: transparent;
  text-decoration: underline;
}
*/
.heading {
  background:
    linear-gradient(
      to right,
      var(--fg-secondary),
      rgba(235, 109, 109, 0.1)
    );
  width: 95%;
  height: 0.1rem;
  border-radius: 10px;
}
.heading_title {
    font-size: 2.5rem;
    color: #d1d1d1;
    text-align: center;
    margin-top: 5rem;
}

.date_info {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(209, 209, 209, 30%);
    text-align: center;
}

.quote {
    font-family: 'Roboto Slab', serif;
    color: var(--text-primary);
    padding: 2rem;
    border-radius: 0.4rem;
    border: 1px solid rgba(79, 78, 89, 1);
}
.quote-author {
    margin-left: 80%;
    padding-top: 0.5rem;
    font-size: 1.1rem;
}
.quote span {
    font-size: 1.3rem;
    padding: 0rem 1rem;
}

article p {
    font-family: "Open-Sans";
    line-height: 180%;
    font-size: 1.05rem;
}

.table_of_content {
    color: var(--text-primary);
}

.table_of_content ul {
    padding-left: 2rem;
    line-height: 170%;

}
/*
ul li {
    color: white;
}
*/
.table_of_content a {
  background:
    linear-gradient(
      to right,
      var(--bg-primary),
      var(--bg-primary)
    ),
    linear-gradient(
      to right,
      var(--fg-primary),
      var(--bg-primary)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  margin-top: 2rem;
}

footer span {
  padding: 0.2rem;
}

footer span a {
  padding: 1rem;
}

footer span a svg {
  color: rgba(235, 109, 109, 0.7);
}

footer span:nth-child(2) {
  color: grey;
  font-size: 600;
}

footer span:nth-child(3) {
  color: var(--text-secondary);
  font-size: 600;
}
